<div class="col-xs-12 col-lg-6 col-sm-6 col-sm-offset-3 col-lg-offset-3">
    <div class="panel panel-info">
        <div class="panel-heading" translate="CART"></div>
        <div ng-if="!goods.length" class="panel-body" ng-bind-html="('CART_EMPTY_DESCRIPTION'|translate) | trustHtml"></div>
        <table ng-if="goods.length" class="table">
            <thead>
            <tr>
                <th>#</th>
                <th class="col-xs-6" translate="NAME"></th>
                <th class="text-center col-xs-2" translate="PRICE"></th>
                <th class="text-center col-xs-2" translate="REMOVE"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="good in goods">
                <th scope="row"><span class="label label-success" ng-bind="$index + 1"></span></th>
                <td class="col-xs-8" ng-bind="good.name"></td>
                <td class="text-center col-xs-2">
                    <span class="label label-info" ng-bind="(good.price | number:2) + ' $'"></span>
                </td>
                <td class="text-center col-xs-2">
                    <span class="cursor-pointer glyphicon glyphicon-remove text-danger"
                          ng-click="removeGood(good)"></span>
                </td>
            </tr>
            <tr class="table-bordered">
                <th scope="row"></th>
                <td class="col-xs-8 bold" translate="TOTAL"></td>
                <td class="text-center col-xs-2">
                    <span class="label label-info" ng-bind="((goods | sum:'price') | number:2) + ' $'"></span>
                </td>
                <td>
                    <button class="btn btn-xs btn-success" ng-click="takeOrder()" translate="MAKE_ORDER"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
