<div class="modal-header">
    <span ng-click="closePopup()" class="pull-right cursor-pointer glyphicon glyphicon-remove"></span>
    <h4 translate="ARE_YOU_SURE"></h4>
</div>
<div class="modal-body row">
    <div class="text-center">
        <ul class="list-inline popup-close-banner-button">
            <li><a href="" ng-click="removeItemCart(false)" role="button" class="btn btn-default" translate="NO"></a></li>
            <li><a href="" ng-click="removeItemCart(true)" role="button" class="btn btn-primary" translate="YES"></a></li>
        </ul>
    </div>
</div>
